<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add 
      name="DefaultConnection"
      connectionString=
        "Server=tcp:musicorganizer.database.windows.net,1433;
        Initial Catalog=MusicOrganizer;
        Persist Security Info=False;
        User ID=allan;Password=fatpeople69?;
        MultipleActiveResultSets=False;
        Encrypt=True;
        TrustServerCertificate=False;
        Connection Timeout=30;" 
      providerName=
        "System.Data.SqlClient" 
    />
</connectionStrings>